/*
  $link: red;
  $highlight: lime;
  $hover: green;
  $placeholder: whiteSmoke;
*/

/* apply a natural box layout model to all elements [http://www.paulirish.com/2012/box-sizing-border-box-ftw/] */
*,
*:before,
*:after {
   -moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
        box-sizing:border-box;
}

/* HTML5 display definitions */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display:block;
}

audio,
canvas,
video {
  display:inline-block;
  *display:inline;
  *zoom:1;
}

audio:not([controls]) {
  display:none;
}

[hidden] {
  display:none;
}

/* Base */
html {
  font-size:100%;
  overflow-y:auto;
  -ms-overflow-style:-ms-autohiding-scrollbar;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}

body {
  background:#fff;
  margin:0;
}

body,
button,
input,
select,
textarea {
  color:#444;
  font:15px sans-serif;
}

/* Links */
a {
  color:red;
  text-decoration:none;
}

a:visited {

}

a:hover {
  color:green;
  text-decoration:none;
}

a:focus {
  outline:thin dotted;
}

a:hover,
a:active {
  outline:0;
}

/* Typography */
p {
  margin:10px 0;
  padding:0;
}

abbr[title] {
  border-bottom:1px dotted;
}

b,
strong {
  font-weight:bold;
}

blockquote {
  color:#76888a;
  font-size:16px;
  font-style:italic;
  margin:1em 40px;
  padding:10px 0;
}

blockquote p {
  margin:0;
}

em,
i,
dfn {
  font-style:italic;
}

hr {
  border:0 #e2e6e6 solid;
  border-top-width:1px;
  clear:both;
  display:block;
  height:1px;
  margin:10px 0;
}

ins {
  background:#ff9;
  color:#000;
  text-decoration:none;
}

mark {
  background:#ff0;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight:bold;
  margin:10px 0;
  padding:0;
  text-rendering:optimizeLegibility;
}

h1 {
  font-size:34px;
  margin-top:0;
}

h2 {
  font-size:30px;
}

h3 {
  font-size:26px;
}

h4 {
  font-size:22px;
}

h5 {
  font-size:18px;
}

h6 {
  font-size:14px;
}

/* Redeclare monospace font family:h5bp.com/j */
pre,
code,
kbd,
samp {
  font-family:monospace, monospace;
  _font-family:'courier new', monospace;
  font-size:1em;
}

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space:pre;
  white-space:pre-wrap;
  word-wrap:break-word;
}

q {
  quotes:none;
}

q:before,
q:after {
  content:"";
  content:none;
}

small {
  font-size:85%;
}

/* Position subscript and superscript content without affecting line-height:h5bp.com/k */
sub,
sup {
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}

sup {
  top:-0.5em;
}

sub {
  bottom:-0.25em;
}

/* Lists */
dd {
  margin:0 0 0 40px;
}

ul,
ol {
  padding:10px 10px 10px 30px;
}

ul li {
  background:transparent 0 6px no-repeat;
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACxJREFUeNpidHFxYQACQSA2BuI9LFDObqjALCYoA4RBIA0ksAckAxVIBwgwAMyyBfjDQxpjAAAAAElFTkSuQmCC);
  list-style:none;
  padding:0 0 8px 10px;
}

ol {
}

ol li {
  list-style:decimal;
  margin:0 0 0 10px;
  padding:0 0 8px 0;
}

nav ul,
nav ol,
nav li {
  background:none;
  margin:0;
  padding:0;
}

img {
  border:0;
  -ms-interpolation-mode:bicubic;
  vertical-align:middle;
}

/* Correct overflow not hidden in IE9 */
svg:not(:root) {
  overflow:hidden;
}

/* Figures */
figure {
  margin:0;
}

/* Forms */
form {
  margin:0;
}

fieldset {
  border:0;
  margin:0;
  padding:0;
}

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor:pointer;
  font-weight:bold;
}

legend {
  border:0;
  *margin-left:-7px;
  padding:0;
}

button,
input,
select,
textarea {
  font-size:100%;
  margin:0;
  vertical-align:baseline;
  *vertical-align:middle;
}

button,
input {
  line-height:normal;
  *overflow:visible;
}

button:active,
.button:active {
  position:relative;
  top:1px;
}

/* Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7 */
table button,
table input {
  *overflow:auto;
}

button,
select,
input[type="button"],
input[type="file"],
input[type="reset"],
input[type="submit"] {
  cursor:pointer;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance:button;
}

/* Consistent box sizing and appearance  */
input[type="checkbox"],
input[type="radio"] {
  padding:0;
  *height:13px;
  *width:13px;
}

input[type="search"] {
  -webkit-appearance:textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance:none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border:0;
  padding:0;
}

/* reset weird iOS styles */
input[type="text"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea {
  border:1px solid #bccccd;
  padding:2px;
-webkit-appearance:none;
   -moz-border-radius:0;
-webkit-border-radius:0;
        border-radius:0;
   -moz-transition:border-color 0.15s ease-in;
    -ms-transition:border-color 0.15s ease-in;
     -o-transition:border-color 0.15s ease-in;
-webkit-transition:border-color 0.15s ease-in;
        transition:border-color 0.15s ease-in;
}

input[type="number"] {
  width:40px;
}

textarea {
  overflow:auto;
  resize:vertical;
  vertical-align:top;
}

/* Colors for form validity */
input:valid,
textarea:valid {}

input:invalid,
textarea:invalid {}

/* Tables */
table {
  border-collapse:collapse;
  border-spacing:0;
  padding:10px 0;
}

td,
th {
  padding:5px;
}

th {
  font-weight:bold;
}

td {
  vertical-align:top;
}

/* Fun things */
::-moz-selection {
  background:lime;
  color:#fff;
  text-shadow:none;
}

::selection {
  background:lime;
  color:#fff;
  text-shadow:none;
}

::-webkit-input-placeholder {
  color:whiteSmoke;
}

:-moz-placeholder {
  color:whiteSmoke;
}

:-ms-input-placeholder {
  color:whiteSmoke;
}

input.placeholder {
  color:whiteSmoke;
}

/* Focus */
a:focus,
button:focus,
label:focus {
  outline:1px dashed #c01339;
}

input:focus,
select:focus,
textarea:focus {
  border:1px solid #5c96aa;
  outline:none;
   -moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
        box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
}

/* Transition elements */
a,
button,
.button {
   -moz-transition:color 0.15s ease-in;
    -ms-transition:color 0.15s ease-in;
     -o-transition:color 0.15s ease-in;
-webkit-transition:color 0.15s ease-in;
        transition:color 0.15s ease-in;
     -o-transition-property:background-color, border-color, color, opacity;
   -moz-transition-property:background-color, border-color, color, opacity;
    -ms-transition-property:background-color, border-color, color, opacity;
-webkit-transition-property:background-color, border-color, color, opacity;
        transition-property:background-color, border-color, color, opacity;
}
